<div style='max-width: 90%; margin: auto; margin-bottom: 40px; background: #f6f6f6; box-shadow: 10px 10px 5px grey; padding: 25px 25px 25px 0px;' id="{{ run.fif_id }}" >

   <div class="flex-container" style="display: flex">

  <div class="flex-child" style="flex: 1">
    <div class="tab" style="display: grid">
        <button class="button1" onclick="openTab(event, '{{run.fif_id}}', 'info')" style="border-top-style: solid">Info</button>
        <button class="button1" onclick="openTab(event, '{{run.fif_id}}', 'timeseries')">Time-Series</button>
        <button class="button1" onclick="openTab(event, '{{run.fif_id}}', 'channels')">Channels</button>
        <button class="button1" onclick="openTab(event, '{{run.fif_id}}', 'digitisation')">Digitisation</button>
        <button class="button1" onclick="openTab(event, '{{run.fif_id}}', 'eog')">EOG</button>
        <button class="button1" onclick="openTab(event, '{{run.fif_id}}', 'ecg')">ECG</button>
        <button class="button1" onclick="openTab(event, '{{run.fif_id}}', 'ica')">ICA</button>
        <button class="button1" onclick="openTab(event, '{{run.fif_id}}', 'spectra')">Power Spectra</button>
    </div>
  </div>
  <div class="flex-child" style="flex: 5; padding-left: 25px">
    <h3>{{ run.filename }}</h3>

    <div class="tabpage" style='width: 100%' id={{ run.fif_id }}_info>
    <div>
        <b>Datafile:</b> {{ run.filename }}</br>
        <b>Project name:</b> {{ run.projname }}</br>
        <b>Experimenter:</b> {{ run.experimenter }}</br>
        <b>Data acquired:</b> {{ run.meas_date }}</br>
        {{ run.acq_samples }} samples at {{ run.acq_sfreq }} Hz - {{ run.acq_duration}} seconds
    </div>
    
    <div style="width: 100%; display: table; margin-top: 50px">
        <div style="display: table-row; height: 100px;">
            <div class='tablebox'>
                {{ run.chantable }}
        </div>
            <div class='tablebox'>
                {{ run.digitable }}
        </div>
            <div class='tablebox'>
                {{ run.eventtable }}
            </div>
        </div>
    </div>
    </div>
    
    <div class="tabpage" style="width: 100%; display: none" id={{ run.fif_id }}_timeseries>
        <div style="width: 100%; padding-top: 50px">
            <h3>Time course of variance across sensors for recording</h3>
            <img src="{{ run.plt_temporaldev }}" alt="" style='max-width: 100%'/>
        </div>
    </div>
        
    <div class="tabpage" style="width: 100%; display: none" id={{ run.fif_id }}_channels>
        <div style="width: 100%; padding-top: 50px">
            <h3>Distribution of per-sensor variance across recording</h3>
            <img src="{{ run.plt_channeldev }}" alt="" style='max-width: 100%'/>
        </div>
    </div>
        
    <div class="tabpage" style="width: 100%; display: none" id={{ run.fif_id }}_digitisation>
        <div style="width: 100%; padding-top: 50px">
            <h3>Digitisation and Headshape</h3>
            <img src="{{ run.plt_digitisation }}" alt="" style='max-width: 100%'/>
        </div>
    </div>

    <div class="tabpage" style="width: 100%; display: none" id={{ run.fif_id }}_eog>
        <div style="width: 100%; padding-top: 50px">
            <h3>EOG Recording</h3>
            <img src="{{ run.plt_artefacts_eog }}" alt="" style='max-width: 100%'/>
        </div>
    </div>
        
    <div class="tabpage" style="width: 100%; display: none" id={{ run.fif_id }}_ecg>
        <div style="width: 100%; padding-top: 50px">
            <h3>ECG Recording</h3>
            <img src="{{ run.plt_artefacts_ecg }}" alt="" style='max-width: 100%'/>
        </div>
    </div>

    <div class="tabpage" style="width: 100%; display: none" id={{ run.fif_id }}_ica>
        <div style="width: 100%; padding-top: 50px">
            <h3>Bad ICA components</h3>
            <img src="{{ run.plt_artefacts_ica }}" alt="" style='max-width: 100%'/>
        </div>
    </div>
        
    <div class="tabpage" style="width: 100%; display: none" id={{ run.fif_id }}_spectra>
        <div style="width: 100%; display: table; padding-top: 50px">
            <div style="display: table-row; height: 100px;">
                <div class='figbox'>
                    <h3>Full Power Spectra</h3>
                    <img src="{{ run.plt_spectra }}" alt="" style='max-width: 100%'/>
                </div>
                <div class='figbox'>
                    <h3>1-48Hz Power Spectra</h3>
                    <img src="{{ run.plt_zoom_spectra }}" alt="", style='max-width: 100%'/>
                </div>
            </div>
        </div>
    </div>

    {% if run.artefact_scan %}
        <h3>Blinks</h3>
        <img src="{{ run.plt_blink_eog}}" alt="" style='max-width: 100%'/>
        <div style="width: 100%; display: table">
            <div style="display: table-row; height: 100px;">
                <div class='figbox'>
                    <img src="{{ run.plt_blink_mag }}" alt="" style='max-width: 100%'/>
                </div>
                <div class='figbox'>
                    <img src="{{ run.plt_blink_grad }}" alt="" style='max-width: 100%'/>
                </div>
            </div>
        </div>

        <h3>Eye-Movements</h3>
        <img src="{{ run.plt_eyemove_eog }}" alt="" style='max-width: 100%'/>
        <div style="width: 100%; display: table">
            <div style="display: table-row; height: 100px;">
                <div class='figbox'>
                    <img src="{{ run.plt_eyemove_mag }}" alt="" style='max-width: 100%'/>
                </div>
                <div class='figbox'>
                    <img src="{{ run.plt_eyemove_grad }}" alt="" style='max-width: 100%'/>
                </div>
            </div>
        </div>

        <h3>Swallow</h3>
        <div style="width: 100%; display: table">
            <div style="display: table-row; height: 100px;">
                <div class='figbox'>
                    <img src="{{ run.plt_swallow_mag }}" alt="" style='max-width: 100%'/>
                </div>
                <div class='figbox'>
                    <img src="{{ run.plt_swallow_grad }}" alt="" style='max-width: 100%'/>
                </div>
            </div>
        </div>

        <h3>Deep Breath</h3>
        <div style="width: 100%; display: table">
            <div style="display: table-row; height: 100px;">
                <div class='figbox'>
                    <img src="{{ run.plt_breathe_mag }}" alt="" style='max-width: 100%'/>
                </div>
                <div class='figbox'>
                    <img src="{{ run.plt_breathe_grad }}" alt="" style='max-width: 100%'/>
                </div>
            </div>
        </div>

        <h3>Shrug</h3>
        <div style="width: 100%; display: table">
            <div style="display: table-row; height: 100px;">
                <div class='figbox'>
                    <img src="{{ run.plt_shrug_mag }}" alt="" style='max-width: 100%'/>
                </div>
                <div class='figbox'>
                    <img src="{{ run.plt_shrug_grad }}" alt="" style='max-width: 100%'/>
                </div>
            </div>
        </div>

        <h3>Jaw Clench</h3>
        <div style="width: 100%; display: table">
            <div style="display: table-row; height: 100px;">
                <div class='figbox'>
                    <img src="{{ run.plt_clench_mag }}" alt="" style='max-width: 100%'/>
                </div>
                <div class='figbox'>
                    <img src="{{ run.plt_clench_grad }}" alt="" style='max-width: 100%'/>
                </div>
            </div>
        </div>

        <h3>Button Press</h3>
        <div style="width: 100%; display: table">
            <div style="display: table-row; height: 100px;">
                <div class='figbox'>
                    <img src="{{ run.plt_buttonpress_mag }}" alt="" style='max-width: 100%'/>
                </div>
                <div class='figbox'>
                    <img src="{{ run.plt_buttonpress_grad }}" alt="" style='max-width: 100%'/>
                </div>
            </div>
        </div>

    {% endif %}

          </div>

    </div>
</div>
