numpy
scipy
matplotlib
mne>=1.0.0
sklearnfslpy
sails
tabulate
pyyaml>=5.1neurokit2
jinja2
glmtools
numba
nilearn
dask
distributedparse
opencv-python
pythreejs
sphinx==4.0.2
numpydocsphinx_gallery
pydata-sphinx-theme
setuptools>=41.0.1
pytest
pytest-covcoverage
flake8
