numpy
scipy
matplotlib
mne<0.24.0
sklearn
fslpy
sails
tabulate
pyyaml>=5.1
neurokit2
jinja2
joblib
file-tree
# Docs
sphinx==4.0.2
numpydoc
sphinx_gallery
pydata-sphinx-theme
# Dev
setuptools>=41.0.1
pytest
pytest-cov
coverage
flake8
