API
================

This page is the reference for the functions in OSL.

Preprocessing Functions
***********************

.. autosummary::
   :toctree: stubs

    osl.preprocessing.run_proc_chain
    osl.preprocessing.run_proc_batch


MNE Wrappers
************

.. currentmodule:: osl.preprocessing.mne_wrappers

.. autosummary::
   :toctree: stubs

    {% for func in mne_wrappers %}
    {{ func }}
    {% endfor %}

OSL Wrappers
************

.. currentmodule:: osl.preprocessing.osl_wrappers

.. autosummary::
   :toctree: stubs

    {% for func in osl_wrappers %}
    {{ func }}
    {% endfor %}
